<!-- *ngIf="!isProfileComponent" -->
<section class=" hero" *ngIf="!isProfileComponent">
    <div class="u-flex-end mb-4">
        <div class="lang-switch">
            <app-change-langague></app-change-langague>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/images/login-image.svg" alt="login form" class="img-fluid" />
                <!-- <div class="vl">
                  </div> -->

            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center ">
                <div class="card-body p-lg-5 text-black ">
                    <div class="row ">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <h2>Change Your<span class="base">&nbsp; Password</span></h2>
                        </div>
                    </div>
                    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                        (ngSubmit)="resetPassword(resetPasswordForm.value)">
                        <div class="row align-items-center">
                            <div class="col-md-3"></div>
                            <div class="form-group col-md-6">
                                <label for="password">{{'Authentication.NewPassword'
                                    |translate}}</label>
                                <div class="input-group">
                                    <input [type]="fieldTextType ? 'text' : 'password'" id="password"
                                        formControlName="password" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa" [ngClass]="{
                                  'fa-eye-slash': !fieldTextType,
                                  'fa-eye': fieldTextType
                                }" (click)="toggleFieldTextType()"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'Authentication.NewPasswordisrequired'
                                        |translate}}</em>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label for="confirm" >{{'Authentication.ConfirmPassword'|translate}}</label>
                            <div class="input-group">
                                <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm"
                                    formControlName="confirm" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{
                                  'fa-eye-slash': !repeatFieldTextType,
                                  'fa-eye': repeatFieldTextType
                                }" (click)="toggleRepeatFieldTextType()"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'Authentication.Confirmationisrequired'
                                    |translate}}</em>
                                <em *ngIf="hasError('confirm', 'mustMatch')">{{'Authentication.Passwordsmustmatch'
                                    |translate}}</em>
                            </div>
                        </div>
                      </div>
                        <div class="row mt-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 mt-2">
                                    <button  type="reset" class="btn btn-danger" (click)="cancel()">
                                       {{'User.back' |translate}} 
                                    </button>
                                <button type="submit" [disabled]="!resetPasswordForm.valid"
                                    class="btn btn-outline-primary ml-1">
                                    {{'User.SaveChanges'
                                    |translate}}</button>
                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>


        </div>

    </div>
</section>


<div class="card pb-3 mt-3" *ngIf="isProfileComponent">
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group row">
                <label for="password" class="col-form-label col-md-12">{{'Authentication.NewPassword'
                    |translate}}</label>
                <div class="input-group col-md-6">
                    <input [type]="fieldTextType ? 'text' : 'password'" id="password" formControlName="password"
                        class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'Authentication.NewPasswordisrequired'
                        |translate}}</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-md-12">{{'Authentication.ConfirmPassword'
                    |translate}}</label>
                <div class="input-group col-md-6">
                    <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm" formControlName="confirm"
                        class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                          'fa-eye-slash': !repeatFieldTextType,
                          'fa-eye': repeatFieldTextType
                        }" (click)="toggleRepeatFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'Authentication.Confirmationisrequired'
                        |translate}}</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">{{'Authentication.Passwordsmustmatch'
                        |translate}}</em>
                </div>
            </div>
            <!-- <div class="row flex-container pb-3">
                <button type="button" class="btn btn-danger"
                    (click)="CloseChangePassword()">{{'General.Cancel'|translate}}</button>
                <button type="submit" class="btn btn-outline-primary"
                    [disabled]="!resetPasswordForm.valid">{{'Authentication.SaveChanges'
                    |translate}}</button>
            </div> -->

            <div class="row mt-3">
                <div class="col-md-6 mt-2">
                    <button type="button" class="btn btn-danger"
                        (click)="CloseChangePassword()">{{'General.Cancel'|translate}}</button>

                    <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-outline-primary ml-1">
                        {{'User.SaveChanges'
                        |translate}}</button>
                </div>
                <div class="col-md-6"></div>
            </div>

        </form>
    </div>
</div>