<section class=" hero">
    <div class="u-flex-end mb-4">
        <div class="lang-switch">
            <app-change-langague></app-change-langague>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/images/Forgot password-rafiki.svg" alt="login form" class="img-fluid" />
                <!-- <div class="vl">
                  </div> -->

            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center ">
                <div class="card-body p-lg-5 text-black ">
                    <div class="row ">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <h2>{{'Authentication.ForgotPassword' | translate}}</h2>
                        </div>
                    </div>
                    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
                        (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                        <div class=" row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                               <label for="email">{{'Authentication.EmailAddress'|translate}}</label>
                                <input type="email" id="email" formControlName="email" class="form-control" />
                            </div>
                        </div>
                         <div class=" row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <em
                                    *ngIf="validateControl('email') && hasError('email', 'required')">{{'Authentication.Emailisrequired'|translate}}</em>
                            </div>
                         </div>

                        <br>

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <button class=" btn btn-outline-primary col-md-12" (click)="back()" type="button" translate>
                                    General.back</button>
                            </div>
                            <div class="col-md-3">
                                <button [disabled]="forgotPasswordForm.invalid" class=" btn btn-outline-primary  col-md-12"
                                type="submit" translate>
                                Authentication.submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>
</section>



<!-- <header class="navigation fixed-top">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <a class="navbar-brand logo">
          <img  class="logo-default" style="width: 100px;" src="assets/images/logo-white.png" alt="logo" />
          <img  class="logo-white" style="width: 100px;" src="assets/images/logo-white.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="" id="navigation">
          <ul class="navbar-nav ml-auto ">

            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language <i class=""></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item"><app-change-langague></app-change-langague></a></li>
              </ul>
            </li>
  
          </ul>
        </div>
      </nav>
    </div>
</header>
  
<section class=" hero">
    <div class="container py-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mainCard">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/images/ship-login.jpg" alt="login form" class="img-fluid borderFormRequest" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="row">
                                    <div class="login-logo col-md-6">
                                        <div>
                                            <img src="assets/images/logo-small.png" alt="Canter" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-4">
                                        <h3 class="logo-label">Containers</h3>
                                    </div>
                                </div>
                                    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
                                        (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                                        <div class="form-group row">
                                            <label for="email"
                                                class="col-form-label col-md-12">{{'Authentication.EmailAddress'|translate}}</label>
                                            <div class="col-md-12">
                                                <input type="email" id="email" formControlName="email"
                                                    class="form-control" />
                                            </div>
                                            <div class="col-md-12">
                                                <em
                                                    *ngIf="validateControl('email') && hasError('email', 'required')">{{'Authentication.Emailisrequired'|translate}}</em>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row space-around">
                                            <button class=" btn btn-outline-primary col-md-5" (click)="back()" type="button" translate>
                                                General.back</button>
                                            <button [disabled]="!forgotPasswordForm.valid"
                                                class=" btn btn-outline-primary  col-md-5" type="submit" translate>
                                                Authentication.submit</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->