h2 {
    color: black;
}
.col-form-label {
    color: black;
}
.container{
    max-width: 69% !important;
}
.container-logo-Image{
  width:2% ;
  margin: 10px;
}
.imgCard{
  border-radius: 1rem 0 0 1rem;
}
.mainCard{
  border-radius: 1rem;
}
h3{
  color: #0468b1;
}
.space-around{
  justify-content: space-around;
}
.dropdown-item{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8)!important;
}
.lang-switch{
  cursor: pointer;
}